<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TheWorldFirst.ShareReading.dao.BookDao">
    <insert id="saveBook" parameterType="java.util.HashMap">
        INSERT INTO book ( book_isbn, book_name, book_author, book_publisher, book_published, book_description, book_image, createTime )
        VALUES
        (#{book.bookIsbn}, #{book.bookName}, #{book.bookAuthor}, #{book.bookPublisher}, #{book.bookPublished}, #{book.bookDescription}, #{book.bookImg}, NOW())
    </insert>
    <select id="getBookList" resultType="java.util.HashMap">
        SELECT
            b.id,
            b.book_isbn AS isbn,
            b.book_name AS 'name',
            b.book_author AS author,
            b.book_publisher AS publisher,
            b.book_published AS published,
            b.book_description AS description,
            b.book_image AS image,
            (SELECT c.`comment` FROM `like` AS l LEFT JOIN `comment` AS c ON c.id = l.comment_id WHERE c.book_id = b.id GROUP BY c.id ORDER BY count( 1 ) DESC LIMIT 0,1) AS bestComment
        FROM
            book AS b
            WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND ((b.book_isbn LIKE CONCAT('%',#{keyword},'%')) OR (b.book_name LIKE CONCAT('%',#{keyword},'%')))
        </if>
        ORDER BY
            b.createTime DESC
            LIMIT ${(page-1)*limit},${limit}
    </select>
</mapper>